.boxCards,
.boxBigCards {
  @include flexBetween;
  width: 100%;
  padding: 10px 0 10px 0;
  flex-direction: column;

  .cardDiaporama {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 15px;
  }

  ::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track:hover {
    background: #8bf9d1;
    border-radius: 15px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 1px #05faa0, inset 0.5px 0.5px 0.5px 1px #006641, 0.5px 0.5px 1px #006641;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
    background-clip: content-box;
    border-radius: 15px;
    box-shadow: inset 0 0 0 2px #05faa0, inset 0 0 0 0.5px #006641;
    background: #006641;
  }

  /* Handle on hover */
  // ::-webkit-scrollbar-thumb:hover {
  //   background: #038052;
  // }

  .card {
    @include flexColCenter;
    width: calc((100% / 3) - 10px);
    position: relative;
    flex-shrink: 0;

    &:hover {
      opacity: 80%;
    }

    & img {
      width: 100%;
      height: 200px;
    }

    .cardBoxHearth {
      width: 25px;
      height: 25px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: 10%;
      left: 90%;
      transform: translate(-50%, -50%);
      @include flexCenter;
      -webkit-filter: drop-shadow(0px 0px 0.5px #000);
      filter: drop-shadow(0px 0px 0.5px #000);

      &:hover {
        background-color: #f2f2f2;
      }

      .heartEmpty {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #36E0A2;
        -webkit-filter: drop-shadow(0px 0px 0.5px #000);
        filter: drop-shadow(0px 0px 0.5px #000);
      }

      .heartFull {
        display: none;
        justify-content: center;
        align-items: center;
      }
    }

    .cardBoxHearth:hover .heartEmpty {
      display: none;
    }

    .cardBoxHearth:hover .heartFull {
      display: flex;
      color: #36E0A2;
      -webkit-filter: drop-shadow(0px 0px 1px #000);
      filter: drop-shadow(0px 0px 1px #000);
    }

    .cardLogoBestTrip {
      width: 20px;
      height: 30px;
      // border: 2px solid red;
      position: absolute;
      top: 60%;
      left: 10%;
      transform: translate(-50%, -50%);
      -webkit-filter: drop-shadow(0px 0px 0.5px #000);
      filter: drop-shadow(0px 0px 0.5px #000);

      & img {
        display: block;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .cardBottom {
      height: 100px;
      @include flexColTopStart;
      width: 100%;

      & a {
        text-decoration: none;
        @include cardTitle;
      }

      .cardBoxRatings {
        @include flexStart;
        width: 100%;
        gap: 10px;

        .ratings {
          display: flex;
          gap: 2px;

          .fa-circle,
          .fa-circle-half-stroke {
            color: #03AA6C;
            font-size: 14px;
          }

          .faCircleFirstHalf {
            transform: rotateY('180deg');
          }
        }
      }
    }
  }

  .card:hover>.cardBottom>a {
    -webkit-text-decoration: underline solid;
    text-decoration: underline solid;
  }

  .cardIntro {
    width: 100%;
    @include flexColTopStart;
    gap: 20px;
    padding-right: 8%;
  }

  .cardIntro,
  .card {
    height: 280px;
  }
}

.boxBigCards {
  .bigCard {
    width: 357px;
    height: 360px;

    .cardTop {
      width: 100%;
      background-color: rgb(52, 224, 161, .5);
      height: 274px;

      & img {
        display: block;
        width: 357px;
        height: 274px;
        -o-object-fit: cover;
        object-fit: cover;
        padding: 5px;
        opacity: 80%;
      }
    }

    .cardBottom {
      width: 100%;
      height: 100px;
      background-color: none;
      @include flexColTopStart;
      justify-content: space-between;

      .cardDesc {
        @include cardTitle;
      }

      .boxArticle {
        @include flexColStart;
        gap: 5px;
        width: 100%;

        .cardLogoArticleAndName {
          @include flexStart;
          width: 100%;
          gap: 10px;

          & img {
            width: 40px;
            height: 40px;
            border-radius: 0;
            display: block;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
      }
    }
  }

  .bigCard:hover>.cardTop>img {
    opacity: 1;
  }

  .bigCard:first-child {
    & img {
      border-radius: 23% 77% 26% 74% / 24% 19% 81% 76%;
      transition: all 1.5s;
    }
  }

  .bigCard:nth-child(2) {
    & img {
      border-radius: 35% 65% 16% 84% / 65% 81% 19% 35%;
      transition: all 1.5s;
    }
  }

  .bigCard:last-child {
    & img {
      border-radius: 57% 43% 56% 44% / 83% 61% 39% 17%;
      transition: all 1.5s;
    }
  }

  .bigCard:hover>.cardTop>img {
    border-radius: 0;
    transition: all 1.5s;
    padding: 0;
    background-color: #ffffff;
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

// @media all and (min-width : 768px) {}

// @media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  .boxCards {
    .cardIntro {
      width: calc(100% / 3) !important;
    }
  }

  .boxCards,
  .boxBigCards {
    flex-direction: row !important;
  }
}

// @media all and (min-width : 1400px) {}