footer {
  width: 100%;
  min-height: 60px;
  height: 60px;
  // position: fixed;
  // bottom: 0;
  flex-shrink: 0;
  // z-index: 10;
  @include flexCenter;
  background-color: white;
  box-shadow: 0px 0px 1px $black, 0.25px 0.25px 1px $black, 0.5px 0.5px 1px $black;

  .wrapper {
    ul {
      @include flexCenter;
    }
  }
}