header {
  @include flexCenter;
  width: 100%;
  position: relative;

  .wrapper {
    @include flexBetween;
    width: 100%;

    .boxLogo {

      img {
        width: 100px;
        object-fit: cover;
      }
    }

    .menu {
      @include flexColCenter;
      background-color: transparent;
      position: relative;
      border: none;
      gap: 4px;
      padding: 5px;
      width: 30px;
      height: 30px;

      &:active {
        box-shadow: inset 0px 0px 1px $black, inset 0px 0px 2px $black, inset 0px 0px 3px $black;
        border-radius: 5px;
      }

      .line {
        width: 25px;
        height: 2.5px;
        background-color: $black;
        transition: transform 0.3s ease;
        transform-origin: center;
      }
    }

    nav {
      width: 100%;
      display: none;
      justify-content: center;
      align-items: center;

      ul {
        @include flexColCenter;
        width: 100%;

        li {
          min-width: 120px;
          @include flexCenter;
          border-bottom: 2px solid transparent;

          button {
            border: none;
            background-color: $black;
            color: $white;
            border-radius: 50px;
            font-weight: 500;
          }

          & a {
            font-weight: 900;
            text-decoration: none;
          }

          & a,
          & button {
            padding: 8px;
          }

          &:hover:not(li:nth-child(4)) {
            border-bottom: 2px solid $tripColor;
          }

          &:hover button {
            cursor: pointer;
            color: $black;
            background-color: $tripColor;
            box-shadow: inset 0px 0px 6px green, 0px 0px 4px $black;
            font-weight: 700;
          }

          &:hover a {
            text-shadow: $textShadow;
          }

          &:hover .fa-solid,
          &:hover .fa-regular {
            text-shadow: 1px 1px 1px $textShadow1w, 1px 1px 1px $textShadow2b;
          }

          .boxHearth .hearthFull {
            display: none;
          }

          &:hover:nth-child(3) .boxHearth .hearthFull {
            display: flex;
            color: $tripColor;
          }

          &:hover:nth-child(3) .boxHearth .hearthEmpty {
            display: none;
          }
        }
      }
    }
  }
}

.menu.active {
  gap: 0;
}

.menu.active .line1 {
  transform: rotate(45deg) translate(5px, 1.15px);
}

.menu.active .line2 {
  display: none;
}

.menu.active .line3 {
  transform: rotate(-45deg) translate(3px, 1.25px);
}

@media all and (min-width: 768px) {
  header {

    .wrapper {
      @include flexBetween;
      flex-direction: row;

      .menu {
        display: none;
      }

      nav {
        display: flex;

        ul {
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }

}