main {
  .wrapper {

    .secOne {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .title {
        display: flex;
        gap: 10px;

        & span:first-child {
          color: $title;
        }

        span {
          font-weight: 800;
          font-size: 48px;
        }
      }

      .secFilters {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 10px 0px;
        flex-wrap: wrap;
        gap: 10px;


        & article {
          display: flex;
          width: calc(50% - 10px);
          padding: 20px;
          border: 2px solid $black;
          border-radius: 20px;
          height: 80px;

          & p {
            width: 70%;
          }

          & i {
            font-size: 24px;
          }
        }
      }

      .SecGalerie {
        @include flexColCenter;
        gap: 4px;

        & div img:hover {
          animation: borderSlide 1s linear both;
          transition: all 1s;
        }

        & div img {
          width: 100%;
          object-fit: cover;
        }

        & div:last-child {
          & img {
            height: 226px;
          }
        }

      }

      .navi {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .secBlabla {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;

        .left {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .right {
          height: 100%;
          width: 100%;

          & div {
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 0, 0, 0.7);
            padding: 20px;
            gap: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            & button {
              width: 50%;
              border: none;
              background-color: #202020;
              color: rgb(255, 255, 255, 0.8);
              padding: 10px;
              border-radius: 10px;
            }
          }

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  main {
    .wrapper {
      .secOne {
        .secFilters {
          flex-wrap: nowrap;
          flex-direction: row;
          gap: none;

          article {
            width: calc(100% - 60px);
          }
        }

        .SecGalerie {
          flex-direction: row;

          & div:first-child {
            display: flex;
            gap: 4px;

            img {
              width: 680px;
              height: 455px;
            }

          }

          & div:last-child {
            & img {
              height: 226px;
              width: 510px;
            }
          }
        }

        .secBlabla {
          flex-direction: row;
          gap: none;
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          .left {
            width: 60%;

            p {
              line-height: 1.5rem;
              text-align: justify;
              width: 80%;
            }
          }

          .right {
            width: 30%;


            & div {
              display: flex;
              flex-direction: column;
              gap: 20px;


              & button {
                width: 50%;
                border: none;
                background-color: #202020;
                color: rgb(255, 255, 255, 0.8);
                padding: 10px;
                border-radius: 10px;
              }

            }

            img {
              width: 100%;
              object-fit: cover;
              height: 150px;
            }
          }
        }
      }
    }
  }
}