.secTwo,
.secThree,
.secFour {
  @include flexColStart;

  & h3 {
    width: 100%;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  .top {
    display: flex;
    flex-direction: column;
    width: 100%;

    .cardIntro {
      @include flexColTopStart;
      gap: 20px;
      padding-right: 8%;
      flex: 1;
    }

    .boxCards {
      flex: 3;
    }
  }
}

.secThree>.top>.boxCards>.cardDiaporama {
  padding-left: 240px !important;
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

@media all and (min-width : 768px) {}

@media all and (min-width : 992px) {
  .top {
    flex-direction: row !important;
  }
}

// @media all and (min-width : 1200px) {}

// @media all and (min-width : 1400px) {}